span {
    margin-top: 10px;
    display: inline-block;
    width : 150px
}
button {
    margin-top: 10px;
    width: 100px;
}

#goalInput span {
    width : 10px;
}

#goalInput input {
    width : 30px;
    margin-right: 5px;
    margin-left: 5px;
}

#goalInput .arrow, .fxSymbol {
    width : 45px !important;
    margin-left: 5px;
}

#restrictionsInput span {
    width : 10px;
}

#restrictionsInput input {
    width : 30px;
    margin-right: 5px;
    margin-left: 5px;
}

/*#goalRestrictionsInput .arrow, .fxSymbol {*/
    /*width : 45px !important;*/
    /*margin-left: 5px;*/
/*}*/

